span.omdoc-operator {
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
    color: #0000FF;
}

span.omdoc-definiens {
}

span.omdoc-type {
}

math {
    color: blue;
    font-weight: bold;
}

mo {
    color: black;
    font-weight: normal;
}

mo.symdecl {
     color: #000000;
}

mi {
    color:green;
    font-weight: normal;
}

.math-selected {
    background: silver;
}

div.omdoc-view
{
   border-style: none
}
div.omdoc-theory
{
   border-style: none
}

span.operator {
   color: blue;
   font-weight: bold;
}

span.keyword {
   color: black;
   font-weight: bold;
}