project/project

# compiled stuff
deploy/mmt.jar
deploy/main/*.jar

# Documentation & Deploy
apidoc
scripts/travis/deploy_key

# IntelliJ Failes
.idea
.idea_modules

# Eclipse Files
bin
.cache-main
.cache-tests
.project
.settings
target
.classpath
