src/project/project
src/project/build.properties

# do not commit 

# Do not accidentally commit test files
test/*.scala

# configuration files
src/mmt-sbt-settings

# mmtrc --created by installed
deploy/mmtrc

# compiled stuff
deploy/mmt.jar
deploy/main/*.jar

# Documentation & Deploy
apidoc
scripts/travis/deploy_key

# IntelliJ Failes
.idea
.idea_modules

# Eclipse Files
bin
.cache-main
.cache-tests
.project
.settings
target
.classpath
