src/project/project
src/project/build.properties

# Do not accidentally commit test files
test/*.scala

# configuration files
src/mmt-sbt-settings

# mmtrc --created by mmt.jar setup routine
deploy/mmtrc

# Documentation & Deploy
apidoc
deploy/*.jar
deploy/lfcatalog/lfcatalog.jar
deploy/lib/tiscaf.jar
deploy/main/*.jar
scripts/travis/deploy_key

# IntelliJ Failes
.idea
.idea_modules
*.iml

# Eclipse Files
bin
.cache-main
.cache-tests
.project
.settings
target
.classpath

# scala-bin compilation articfacts
out/

*/.DS_Store

# Artifact of https://github.com/coursier/coursier when working with IntelliJ
src/null
