.collapsible > input[type="checkbox"] {
    position: absolute;
    left: -100vw;
}

.collapsible .content {
    overflow-y: hidden;
    height: 0;
    transition: height 0.3s ease;
}

.collapsible > input[type="checkbox"]:checked ~ .content {
    height: auto;
    overflow: visible;
}

.collapsible label {
    display: block;
}

.collapsible {
    margin-bottom: 1em;
}

.collapsible > input[type="checkbox"]:checked ~ .content {
    padding: 15px;
    border: 1px solid #e8e8e8;
    border-top: 0;
}

.collapsible .handle {
    margin: 0;
}

.collapsible-small {
    padding: 1px;
}

.collapsible label {
    cursor: pointer;
    padding: 5px;
    background: #e8e8e8;
}
.collapsible label::before {
    content:'▶ ';
    white-space: pre;
}
.collapsible > input[type="checkbox"]:checked ~ .handle > label::before {
    content:'▼ ' !important;
    white-space: pre;
}

.collapsible-small label {
    padding:0;
    background: inherit;
    border-bottom: 1px solid #e8e8e8;
}

.collapsible label:hover,
.collapsible label:focus {
    background: #d8d8d8;
}
.symbol-table {
    width: 100%;
}
.symbol-td {
    padding-right: 10px;
    vertical-align: baseline;
    padding-bottom: 5px;
}
.notation-table {
    width: 100%;
}
.notation-td {
    padding-right: 10px;
    vertical-align: baseline;
    padding-bottom: 5px;
    text-align: center;
}