#title {
   position: fixed;
   width: 100%;
   height: 8%;

   font-size:20px;
   font-weight:bold;
   text-align: center;

   background: lightgray;
   border-style: solid;
   border-color: black;
}

#styleselector {
   position: fixed;
   top: 12%;
   left: 0%;
   width: 15%;
   height: 4%;
}

#breadcrumbs {
   position: fixed;
   top: 12%;
   left: 15%;
   width: 85%;
   height: 4%;
   border-style: solid;
   border-width: thin;
}
span.crumb {
   margin-left: 10px;
   margin-right: 10px;
}

span.pagelink {
   margin-left:5%;
   margin-right:5%;
}

#sidebar {
   position: fixed;
   overflow: auto;
   top: 18%;
   left: 0;
   width: 15%;
   height: 82%;
}

#pathtree {
   margin-bottom:10px;
   background: lightgray;
}
a.treerelation {
  background: blue;
}

#crossrefs {
   background: lightgray;
}

#main {
   position: fixed;
   top: 18%;
   left: 15%;
   height: 82%;
   width: 85%;
   overflow: auto;
   border-style: solid;
   border-width: thin;
   padding: 2px;
}

table
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 45px;
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}
th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe;
	border-top: 4px solid #aabcfe;
 	border-bottom: 1px solid #fff;
	color: #039;
}
td
{
	padding: 8px;
	background: #e8edff; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
}
tr:hover td
{
	background: #d0dafd;
	color: #339;
}

ul.decllist {
       list-style-type: none;
       border-width: thin;
       border-left-style: solid;
}
div.included-module {
       border-style: dotted;
       border-width: thin;
       padding: 2px;

}