.code, pre {
   font-family: monospace; 
   color: gray;
}

div.code {
   border:solid;
   border-width: 1;
   margin-top: 5px;
}
.bg-white {
    background: lightgray;
    overflow-scrolling: auto;
    margin: 3%;
}

.addBorder {
    border: 6px solid black;
}
.frame {
   background:lightgray;
   text-align: center;
}

/*.sidebargroup {*/
  /*color:olive;*/
  /*list-style-type: none;*/
/*}*/

/*.sidebarelement {*/
  /*color:blue;*/
  /*text-decoration:underline;*/
/*}*/

br {
   margin-bottom:5px;
}

li {
   margin-top:5px;
}

.centered {
    text-align: center;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.maxH {
    max-lines: 3;
}