body {
 min-width:640px;
 min-height:300px;
 margin-top: 0px;
 margin-left:0px;
 margin-right:0px;
 background: white;
}

td.layout {
   vertical-align:top;
}

#top {
 min-width:640px;
 background: url("../images/bg.png");
}

#title {
   height: 25px;
   font-size:20px;
   font-weight:bold;
   text-align: center;
}


#menu_bar {
  text-align : center;
  height:24px;
}

span.pagelink a {
 padding-left:5px;
 padding-right:5px;
 color: blue;
 font-weight:bold;
 text-decoration:none;
 background : lightgray;
}

span.pagelink a:hover {
 background : url("../images/bg-hover-bak.png")
}

#styleselector {
   height: 20px;
}

#breadcrumbs {
   height: 20px;
   font-size:12px;
}
#breadcrumbs .mmturi {
   margin-left: 10px;
   margin-right: 10px;
}

#sidebar {
   background: lightgray;
   overflow: scroll;
   resize: both;
}

#pathtree {
   background: lightgray;
}


a.treerelation {
  background: lightblue;
}

#crossrefs {
   background: lightgray;
}

#main {
   padding-left : 10px;
   overflow: auto;
   min-width:380px;
}

table.decllist {
  border-left-style: solid;
  border-left-width: 1px;
  margin-left:5px;
  padding-left:25px;
}

table.decllist td {
}

div.flat-container {
       border-style: dotted;
       border-width: thin;
       padding: 2px;
}

.mmturi {
    color: red;
}

.used-by .mmturi {
    margin-right: 5px;
}

#parse  {
   border: solid 1px;
   padding: 5px;
   margin: 10px;
}

#inputbox {
   border: solid;
   border-width: 1px;
   min-height:50px;
   min-width:300px;
   overflow: scroll;
}

#inputviewterm, #inputviewtype {
   min-height:30px;
   min-width:300px;
}


#search {
   border: solid 1px;
   padding: 5px;
   margin: 10px;
}

div.searchgroup {
   border: solid 1px;
   border-radius: 5px;
   margin-bottom: 10px;
}

input {
   resize: horizontal; 
}

td.uriregexp {
}

div.results {
}

div.result {
   margin-top: 5px;
}

.resultmatch {
   background-color: lightblue;
}

span.name {
  font-weight: bold;
}

tr.definition, tr.domain, tr.codomain,
tr.onedim-notation, tr.twodim-notation, tr.used-by {
  display: none;
}
tr.tags, tr.metadata {
  display: none;
}

div.constant {
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
  margin-top: 10px;
}

button.compToggle {
  margin-left:10px;
  background-color: Wheat;
  margin-right: 10px;
}

span.compLabel {
  background-color: Wheat;
}
