span.name {
  font-weight: bold;
}

tr.definition, tr.domain, tr.codomain,
tr.onedim-notation, tr.twodim-notation {
  display: none;
}
tr.tags, tr.metadata {
  display: none;
}

div.constant {
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
  margin-top: 10px;
}

span.compToggle {
  margin-left:10px;
  background-color: Wheat;
  margin-right: 10px;
}

span.compLabel {
  background-color: Wheat;
}
