 body, select 
	  {
		font: 10pt sans;
	  }
	  #mynetwork 
	  {
		  position:relative;
		  width: 1200px;
		  height: 600px;
		  border: 1px solid lightgray;
	  }
	  
	  table.legend_table 
	  {
		  font-size: 11px;
		  border-width:1px;
		  border-color:#d3d3d3;
		  border-style:solid;
	  }
	  
	  table.legend_table,td 
	  {
		  border-width:1px;
		  border-color:#d3d3d3;
		  border-style:solid;
		  padding: 2px;
	  }
  	  div.table_content 
	  {
		  width:80px;
		  text-align:center;
	  }
	  div.table_description 
	  {
		width:100px;
	  }
	  
	  #operation 
	  {
      font-size:28px;
	  }
	  
	  #network-popUp 
	  {
		  display:none;
		  position:absolute;
		  top:350px;
		  left:170px;
		  z-index:299;
		  width:250px;
		  height:210px;
		  background-color: #f9f9f9;
		  border-style:solid;
		  border-width:3px;
		  border-color: #5394ed;
		  padding:10px;
		  text-align: center;
	  }
	  
	  /* The whole context menu */
	  .custom-menu 
	  {
		  display: none;
		  z-index: 1000;
		  position: absolute;
		  overflow: hidden;
		  border: 1px solid #CCC;
		  white-space: nowrap;
		  font-family: sans-serif;
		  background: #FFF;
		  color: #333;
		  border-radius: 5px;
		  padding: 0;
	  }
	  
	  /* Each of the context menu items in the list */
	  .custom-menu li 
	  {
		  padding: 8px 12px;
		  cursor: pointer;
		  list-style-type: none;
		  transition: all .3s ease;
	  }
	  
	.custom-menu li:hover 
	{
		background-color: #DEF;
	}