 body, select 
{
	font: 10pt sans;
}

.jssocials-share-link { border-radius: 50%; }

.sidenav 
{
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1005;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 40px;
}

.sidenav .closebtn 
{
    position: absolute;
    top: 0;
    right: 16px;
    font-size: 36px;
    margin-left: 50px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav2 
{
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1005;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 40px;
}

	.sidenav2 .closebtn 
	{
		position: absolute;
		top: 0;
		left: 16px;
		font-size: 36px;
		margin-right: 50px;
		text-decoration: none;
		font-size: 25px;
		color: #818181;
		display: block;
		transition: 0.3s;
	}

	  #wholeNetwork
	  {
		  position:relative;
		  width: 1200px;
		  height: 600px;
		  border: 1px solid lightgray;
		  float:left;
	  }
	  
	  table.legend_table 
	  {
		  font-size: 11px;
		  border-width:1px;
		  border-color:#d3d3d3;
		  border-style:solid;
	  }
	  
	  table.legend_table,td 
	  {
		  border-width:1px;
		  border-color:#d3d3d3;
		  border-style:solid;
		  padding: 2px;
	  }
  	  div.table_content 
	  {
		  width:80px;
		  text-align:center;
	  }
	  div.table_description 
	  {
		width:100px;
	  }
	  
	  #operation 
	  {
		font-size:28px;
	  }

	  #edge-operation
	  {
		font-size:28px;
	  }
	  
	  #network-popUp 
	  {
		  display:none;
		  position:absolute;
		  top:350px;
		  left:170px;
		  z-index:299;
		  width:300px;
		  height:246px;
		  background-color: #f9f9f9;
		  border-style:solid;
		  border-width:3px;
		  border-color: #5394ed;
		  padding:10px;
		  text-align: center;
	  }

	  #network-edge-popUp 
	  {
		  display:none;
		  position:absolute;
		  top:350px;
		  left:170px;
		  z-index:299;
		  width:270px;
		  height:170px;
		  background-color: #f9f9f9;
		  border-style:solid;
		  border-width:3px;
		  border-color: #5394ed;
		  padding:10px;
		  text-align: center;
	  }
	  
	html, body {
		height:100%;
	}
	  
	.theoryTreeClass
	{
	    overflow: auto;
	    box-shadow: 0 0 5px #ccc;
	    padding: 10px;
		width:370px;
	    border-radius: 5px;
		resize: horizontal;
	}

	  /* The whole context menu */
	  .custom-menu 
	  {
		  display: none;
		  z-index: 1000;
		  position: absolute;
		  overflow: hidden;
		  border: 1px solid #CCC;
		  white-space: nowrap;
		  font-family: sans-serif;
		  background: #FFF;
		  color: #333;
		  border-radius: 5px;
		  padding: 0;
	  }
	  
	  /* The whole context menu */
	  .custom-menu-side
	  {
		  display: none;
		  z-index: 1000;
		  position: absolute;
		  overflow: hidden;
		  border: 1px solid #CCC;
		  white-space: nowrap;
		  font-family: sans-serif;
		  background: #FFF;
		  color: #333;
		  border-radius: 5px;
		  padding: 0;
	  }
	  
	 .custom-tooltip
	  {
		  display: none;
		  z-index: 1000;
		  position: absolute;
		  overflow: hidden;
		  border: 1px solid #CCC;
		  font-family: sans-serif;
		  background: #FFF;
		  color: #333;
		  border-radius: 5px;
		  padding: 4px;
	  }
	  	  /* Each of the context menu items in the list */
	  .custom-menu-side li 
	  {
		  padding: 8px 12px;
		  cursor: pointer;
		  list-style-type: none;
		  transition: all .3s ease;
	  }
	  
	.custom-menu-side li:hover 
	{
		background-color: #DEF;
	}
	
	  /* Each of the context menu items in the list */
	  .custom-menu li 
	  {
		  padding: 8px 12px;
		  cursor: pointer;
		  list-style-type: none;
		  transition: all .3s ease;
	  }
	  
	.custom-menu li:hover 
	{
		background-color: #DEF;
	}
	
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0px;
    margin: 2px 0px 0px;
    list-style: outside none none;
    background-color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
}

#colorPicker
{
	margin-left:8px;
	float:left;
}

#generalMenu
{
	margin-top:2px;
	float:left;
}

.toolSelector
{
	width: 370px;
	top: 0px;
	position: relative;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
	float:left;
}

.colorRect
{
	width:24px;
	height:24px;
	margin-right:4px;
	margin-top:2px;
	background-color: gray;
	float:left;
	cursor:pointer;
	border:1px solid #dcdcdc;
}

.standardIcon
{
	cursor:pointer;
	background-image: url("../img/standard.png");
	width:24px;
	height:24px;
	background-size: 18px 18px;
	background-repeat:no-repeat
}

.downloadIcon
{
	cursor:pointer;
	background-image: url("../img/download.png");
	width:24px;
	height:24px;
	background-size: 18px 18px;
	background-repeat:no-repeat
}

.crosshairIcon
{
	cursor:pointer;
	background-image: url("../img/crosshair.png");
	width:24px;
	height:24px;
	background-size: 18px 18px;
	background-repeat:no-repeat;
}

.undoIcon
{
	cursor:pointer;
	background-image: url("../img/undo.png");
	width:24px;
	height:24px;
	background-size: 18px 18px;
	background-repeat:no-repeat;
}

.redoIcon
{
	cursor:pointer;
	background-image: url("../img/redo.png");
	width:24px;
	height:24px;
	background-size: 18px 18px;
	background-repeat:no-repeat;
}

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #dcecfb;
	-webkit-box-shadow:inset 0px 1px 0px 0px #dcecfb;
	box-shadow:inset 0px 1px 0px 0px #dcecfb;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bddbfa), color-stop(1, #80b5ea));
	background:-moz-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
	background:-webkit-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
	background:-o-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
	background:-ms-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
	background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddbfa', endColorstr='#80b5ea',GradientType=0);
	background-color:#bddbfa;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	font-family:Arial;
	font-size:15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
	
	margin-top:18px;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #bddbfa));
	background:-moz-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
	background:-webkit-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
	background:-o-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
	background:-ms-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
	background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea', endColorstr='#bddbfa',GradientType=0);
	background-color:#80b5ea;
}

