span.name {
  font-weight: bold;
}

tr.type {
  display: none;
}
tr.definition {
  display: none;
}
tr.tags {
  display: none;
}
tr.metadata {
  display: none;
}
table.constant {
  border-width: 1;
  border-style: solid;
}

span.compToggle {
  background-color: lightblue;
  margin-right: 10px;
}