span.name {
  font-weight: bold;
}

tr.definition, tr.domain, tr.codomain,
tr.onedim-notation, tr.twodim-notation {
  display: none;
}
tr.tags, tr.metadata {
  display: none;
}

div.constant {
  border-width: 1;
  border-style: solid;
  margin-top: 10px;
}

span.compToggle {
  color: blue;
  margin-right: 10px;
}