<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:stex="http://kwarc.info/ns/sTeX"
      xmlns:mmt="http://uniformal.github.io/MMT"
      xmlns:svg="http://www.w3.org/2000/svg"
      xmlns:mml="http://www.w3.org/1998/Math/MathML"
      xmlns:xhtml="http://www.w3.org/1999/xhtml"
      xmlns:rustex="http://kwarc.info/ns/RusTeX"
>
   <head>
      <meta charset="UTF-8" />
<!-- <link rel="stylesheet" type="text/css" href="/css/omdoc/omdoc-default.css"/> -->
      <title>MMT Web Server</title>
      <script type="text/javascript" src="script/jquery/jquery.js"></script>
      <link rel="stylesheet" type="text/css" href="css/bootstrap-jobad/css/bootstrap.less.css"></link>
      <link rel="stylesheet" type="text/css" href="css/mmt.css" />
      <link rel="stylesheet" type="text/css" href="css/browser.css" />
      <link rel="stylesheet" type="text/css" href="css/JOBAD.css" />
      <link rel="stylesheet" type="text/css" href="css/jquery/jquery-ui.css" />
<!-- <link rel="stylesheet" type="text/css" href="/css/jquery/ui.base.css"/> -->
      <link rel="shortcut icon" href="favicon.ico" />
      <!--
      <script src="script/codemirror2/lib/codemirror.js"></script>
      <link rel="stylesheet" href="script/codemirror2/lib/codemirror.css" />
      <script src="script/codemirror2/mode/lf/lf.js"></script>
      -->
      <script type="text/javascript" src="script/jquery/jquery-ui.js"></script>
      <script type="text/javascript" src="script/tree/jquery.hotkeys.js"></script><!-- used by  stree -->
      <script type="text/javascript" src="script/tree/jquery.jstree.js"></script>

      <!-- incremental search by Kazuhisa Nakasho
      <script type="text/javascript" src="script/incsearch/incsearch.js"></script> -->
      <script type="text/javascript" src="script/incsearch/treeview.js"></script>
      <link rel='stylesheet' href='css/incsearch/jstree.css'>
      <link rel='stylesheet' href='css/incsearch/index.css'>
      <link rel='stylesheet' href='css/incsearch/incsearch.css'>
      <link rel='stylesheet' href='css/incsearch/treeview.css'>

<!-- Core JS API for MMT interaction -->
      <script type="text/javascript" src="script/mmt/mmt-js-api.js"></script>
<!-- JOBAD Deps -->
      <script type="text/javascript" src="script/jobad/deps/underscore-min.js"></script>
      <script type="text/javascript" src="script/bootstrap2/bootstrap.js"></script>
<!-- JOBAD -->
      <script type="text/javascript" src="script/jobad/JOBAD.js"></script>
<!-- JOBAD Services -->
      <script type="text/javascript" src="script/jobad/modules/hovering.js"></script>
      <script type="text/javascript" src="script/jobad/modules/interactive-viewing.js"></script>
<!-- browser-specific JS -->
      <script type="text/javascript" src="script/mmt/browser.js"></script>
   </head>
   <body>
<!-- header area -->
      <div id="header">
      The MMT Web Server
<!--
               <a type="button" class="btn btn-primary" onclick="$('#search').toggle()">
                  <b>Search</b>
               </a>
               <a type="button" class="btn btn-primary" onclick="$('#parse').toggle()">
                  <b>Parse</b>
               </a>
               <button class="btn btn-primary text-info" tabindex="0" data-toggle="popover" role="button" data-trigger="focus" data-placement="bottom" data-container="body" data-content="See the documentation &lt;a href='https://svn.kwarc.info/repos/MMT/doc/html/index.html'&gt;here&lt;/a&gt; in the MMT repository for an overview of features!">
                  <b>Help</b>
               </button>
-->
      </div>
  		<!-- main page content -->
      <div id="middle">
         <table id="layouttable">
            <tr>
         		<!-- left side area -->
               <td class="layouttablecell">
                  <div class="celltitle">
                     Archives
                  </div>
                  <div id="sidebar" class="cellcontent">
                     <div id="pathtree"></div>
                  </div>
               </div>
            </div>
         </td>
     		<!-- middle area -->
         <td class="layouttablecell">
            <div class="celltitle">
               Content
            </div>
            <div class="cellcontent">
               <div id="breadcrumbs">
                  <span/>
               </div>
                  <!-- main content area -->
               <div id="main">
                  <span/>
               </div>
            </div>
         </div>
      </td>
   </tr>
</table>
</div>

<!-- widgets -->

<!-- incremental search -->
<!--
<div id='incsearch' class='item'></div>
<div id='treeview' class='item'>
   <ul>
     <li class='treeitem'>Root node 1
       <ul>
         <li class='treeitem'>Child node 1</li>
         <li class='treeitem'>Child node 2</li>
       </ul>
     </li>
   </ul>
</div>
<div id='content' class='item'>
</div>-->

<!-- search -->
<div id="search">
<div class="panel panel-default" id="panel1">
   <div class="panel-heading">
      <b>Search</b>
      <button class="btn btn-info btn-xs pull-right" onclick="$('#search').toggle()">
         <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </button>
      <button class="btn btn-info btn-xs pull-right" data-toggle="popover" data-trigger="focus" data-placement="left" data-content="Enter &lt;a href='http://docs.oracle.com/javase/6/docs/api/java/util/regex/Pattern.html#sum'>Java regular expressions&lt;/a&gt; to filter based on the URI of a declaration">
         <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
      </button>
   </div>
   <div class="panel-body">
      <form class="form-horizontal" id="searchForm" name="searchForm">
         <div class="form-group">
            <label for="base" class="col-sm-4 control-label">
               <div class="pull-right">Namespace</div>
            </label>
            <div class="col-sm-6">
               <input type="text" class="form-control" size="30" ng-model="baseInput" id="base" />
            </div>
         </div>
         <div class="form-group">
            <label for="module" class="col-sm-4 control-label">
               <div class="pull-right">Theory</div>
            </label>
            <div class="col-sm-6">
               <input type="text" class="form-control" ng-model="moduleInput" size="30" id="module" />
            </div>
         </div>
         <div class="form-group">
            <label for="name" class="col-sm-4 control-label">
               <div class="pull-right">Name</div>
            </label>
            <div class="col-sm-6">
               <input type="text" class="form-control" ng-model="nameInput" size="30" id="name" />
            </div>
         </div>
         <div class="form-group">
            <label class="col-sm-4 control-label">
               <div class="pull-right">Roles</div>
            </label>
            <div class="checkbox col-sm-6">
               <label>
                  <input type="checkbox" ng-model="rolesConstant" id="constant" /> Primitive </label>
               <label>
                  <input type="checkbox" ng-model="rolesDefined" id="defined" />
									Defined </label>
               <label>
                  <input type="checkbox" ng-model="rolesAxiom" id="axiom" /> Axiom </label>
               <label>
                  <input type="checkbox" ng-model="rolesTheorem" id="theorem" />
									Theorem </label>
            </div>
         </div>
         <div class="form-group">
            <label for="theory" class="col-sm-4 control-label">
               <div class="pull-right">Enter an expression over theory</div>
            </label>
            <div class="col-sm-6">
               <input type="text" size="30" class="form-control activetheory" ng-model="theoryInput" id="theory" />
            </div>
         </div>
         <div class="form-group">
            <label for="type" class="col-sm-4 control-label">
               <div class="pull-right">The expression matches inside the</div>
            </label>
            <div class="checkbox col-sm-2">
               <label>
                  <input type="checkbox" id="type" ng-model="expType" checked="checked" />Type</label>
            </div>
            <label for="type" class="col-sm-1 control-label"> or </label>
            <div class="checkbox col-sm-2">
               <label>
                  <input type="checkbox" ng-model="expDef" id="definition" />Definitions of a Declaration</label>
            </div>
         </div>
         <div class="form-group">
            <div class="col-sm-offset-4">
               <div class="col-sm-6">
                  <input type="text" size="30" class="form-control" ng-model="patternInput" id="pattern" />
               </div>
            </div>
         </div>
         <div class="form-group">
            <div class="col-sm-offset-4">
               <p class="help-block">Use $x,y,z:query to enter unification
									variables.</p>
               <a role="button" class="bg-info pull-right" value="Search" id="search" ng-click="search()">
                  <b>Search</b>
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
               </a>
            </div>
         </div>
      </form>
   </div>
</div>
<div class="panel panel-default" id="panel2">
   <div class="panel-heading">
      <b>Search Results</b>
   </div>
   <div class="panel-body">
      <div id="results">
         <div></div>
      </div>
   </div>
</div>
</div>


<div id="parse">
<div class="panel panel-default" id="panel3" ng-show="showParse==1">
   <div class="panel-heading">
      <b>Parse</b>
      <button class="btn btn-info btn-xs pull-right" ng-show="showParse==1" ng-click="showParseKey=0; showParse=0; parseClicked=0">
         <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </button>
      <button class="btn btn-info btn-xs pull-right" ng-show="showParseKey==1" ng-click="showParseKey=0">
         <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
      </button>
      <button class="btn btn-info btn-xs pull-right" ng-show="showParseKey==0" ng-click="showParseKey=1">
         <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
      </button>
   </div>
   <div class="panel-body" ng-show="showParseKey==1">
      <form class="form-horizontal" id="parseForm">
         <div class="form-group">
            <div class="col-sm-offset-1">
               <label for="activetheory" class="col-sm-3 control-label">
                  <div class="pull-right">Enter an object over theory:</div>
               </label>
               <div class="col-sm-4">
                  <input name="activeTheory" type="text" size="30" id="activetheory" class="form-control" />
               </div>
            </div>
         </div>
         <div class="form-group">
            <div class="col-sm-offset-4">
               <label>
                  <input type="checkbox" name="inputAnalyze" id="inputanalyze" />Analyze</label>
            </div>
         </div>
         <div class="form-group">
            <div class="col-sm-offset-4">
               <label>
                  <input type="checkbox" name="inputSimplify" id="inputsimplify" />Simplify</label>
            </div>
         </div>
         <div class="form-group">
            <div class="col-sm-offset-4">
               <textarea class="form-control" id="inputbox" rows="3"></textarea>
            </div>
         </div>
         <div class="form-group">
            <div class="col-sm-offset-1">
               <label class="col-sm-3 control-label">
                  <div class="pull-right">Result:</div>
               </label>
               <div class="col-sm-4" id="inputviewterm">
                  <span></span>
               </div>
            </div>
         </div>
         <div class="form-group">
            <div class="col-sm-offset-1">
               <label class="col-sm-3 control-label">
                  <div class="pull-right">Inferred Type:</div>
               </label>
               <div class="col-sm-4" id="inputviewtype">
                  <div>
                     <span></span>
                  </div>
               </div>
            </div>
         </div>
      </form>
   </div>
</div>
</div>

<!-- footer -->
<div id="footer"></div>
</body>
</html>
