#title {
   position: fixed;
   width: 100%;
   height: 10%;
   margin-bottom:10px;
   font-size:20px;
   font-weight:bold;
}

#header {
   position: fixed;
   top: 10%;
   width: 100%;
   height: 5%;
}

#sidebar {
   position: fixed;
   overflow: auto;
   top: 20%;
   left: 0;
   width: 15%;
   height: 80%;
}

#pathtree {
   margin-bottom:10px;
}

#crossrefs {
}

#main {
   position: absolute;
   top: 20%;
   left: 15%;
}

table
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 45px;
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}
th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe;
	border-top: 4px solid #aabcfe;
 	border-bottom: 1px solid #fff;
	color: #039;
}
td
{
	padding: 8px;
	background: #e8edff; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
}
tr:hover td
{
	background: #d0dafd;
	color: #339;
}{
	background: #d0dafd;
	color: #339;
}