body {
 min-width:640px;
 min-height:300px;
 margin-top: 0px;
 margin-left:0px;
 margin-right:0px;
 background: white;
}

td.layout {
   vertical-align:top;
}

#top {
 min-width:640px;
 background: url("../images/bg.png");
}

#title {
   height: 25px;
   min-width:1000px;
   font-size:20px;
   font-weight:bold;
   text-align: center;
}


#menu_bar {
  text-align : center;
  min-width:1000px;
  height:24px;
}

span.pagelink a {
 padding-left:5px;
 padding-right:5px;
 color: blue;
 font-weight:bold;
 text-decoration:none;
 background : lightgray;
}

span.pagelink a:hover {
 background : url("../images/bg-hover-bak.png")
}

#styleselector {
   height: 20px;
}

#breadcrumbs {
   height: 20px;
   font-size:12px;
}
span.crumb {
   margin-left: 10px;
   margin-right: 10px;
}

#sidebar {
   background: lightgray;
   overflow: scroll;
   resize: both;
}

#pathtree {
   background: lightgray;
}


a.treerelation {
  background: lightblue;
}

#crossrefs {
   background: lightgray;
}

#main {
   padding-left : 10px;
   overflow: auto;
   min-width:380px;
}

#inputbox {
   border: solid;
   border-width: 1px;
   min-height:50px;
   min-width:300px;
   overflow: scroll;
}

#inputview {
   border: solid;
   border-width: 1px;
   min-height:30px;
   min-width:300px;
}

table.decllist {
  border-left-style: solid;
  border-left-width: 1px;
  margin-left:5px;
  padding-left:25px;
}

table.decllist td {
}

div.flat-container {
       border-style: dotted;
       border-width: thin;
       padding: 2px;

}