.code {
   font-family: monospace; 
   color: gray;
}

div.code {
   border:solid;
   border-width: 1;
   margin-top: 5px;
}

.frame {
   background:lightgray;
}

.sidebargroup {
  color:olive;
  list-style-type: none;
}

.sidebarelement {
  color:blue;
  text-decoration:underline;
}