span.omdoc-operator {
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
    color: #0000FF;
}

span.omdoc-definiens {
}

span.omdoc-type {
}

math {
    color: #000000;
}

mo {
    color: #0000F0;
}

mo.symdecl {
     color: #000000;
}

mi {
    color:#006600;
}

div.omdoc-view
{
   border-style: none
}
div.omdoc-theory
{
   border-style: none
}
