.definiendum {
    color: #00FF00;
    font-weight: bold;
}
.varcomp {
    color: #828282;
}
.symcomp {
    color: #0e90d2;
}
.scaledbody {
    transform: scale(1.5);
    transform-origin: top;
}
.frame {
    border:2px solid black;
    display: flex;
    margin: 5px auto;
    background-color: white;
}
.solution {

}