body {
    font-family: STIXgeneral, Times, Times New Roman,Symbol, cmr10, CMSY10, CMEX10, serif;
    margin:auto;
}

.resetfont {
    font-family: STIXgeneral, Times, Times New Roman, Symbol, cmr10, CMSY10, CMEX10, serif;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
}

.monospaced {
    font-family: FreeMono, Courier New, monospace;
}

.blackboard {
    font-family: msbm;
}

.script {
    font-family: URW Chancery L, cursive;
}

.sansserif {
    font-family: sans-serif;
}

.body {
    position: relative;

    color: hsl(0, 5%, 10%);
    background-color: hsl(210, 20%, 98%);

    text-rendering: optimizeLegibility;
    align-content: inherit;
    justify-content: start;
    grid-auto-flow:row;
    text-align:justify;
    display: flex;
    flex-direction: column;
}

span {
    display:inherit;
    flex-direction: inherit;
}
.paragraph > span {
    display:inline;
}
.displaymath {
    display:block;
    text-align:center;
}
.vskip {
    display: inline-block;
    line-height:0pt
}
.reftarget {
}
.vrule {
    /*align-self:end;*/
    display:inline-block;
}
.hrule {
    /*align-self:start;*/
    display:block;
}
a {
    color: inherit;
    text-decoration: inherit;
    display: inline-block;
    pointer-events: all;
}
.raise {
    position: relative;
    display: inline-block;
}
.moveright {
    position: relative;
    display: inline-block;
}
.paragraph {
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width:100%;
    justify-content:inherit;
    align-content:inherit;
}
hr {
    width: 100%;
}
.vbox {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-end;
    width:max-content;
    max-width:100%;
    text-align:justify;
    align-self: center;
}
.hbox {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: inherit;
    align-items: baseline;
    width:max-content;
    height:max-content;
    max-width:100%;
}
.matrix {
    display: inline-flex;
}
.hskip {
    display: inline-block;
    width: 0%;
    height: 0%;
}
.indent {
    display: inline-block;
    width: 0%;
    height: 0%;
}
.vskip {
    width: 0%;
    height: 0%;
}
foreignObject {
}
.foreign {
    display:flex;
    width:100%;
    height:100%;
    align-items:center;
    justify-content:center;
    transform: scale(1,-1);
}
table {
    border-spacing:0;
    white-space:nowrap;
    width:max-content;
    height:max-content;
    /*display:initial;*/
}
td {
    padding:0;
}
.vfil {
    margin-bottom: 10px;
    width: 0%;
    height: 0%;
}
.vfill {
    margin-bottom: 30px;
    width: 0%;
    height: 0%;
}
.HFil {
    margin-left: 10px;
    width: 0%;
    height: 0%;
    display: inline-block;
}
.Hss {
    width: 0%;
    height: 0%;
    display: inline-block;
}
.hkern {
    display: inline-block;
}
.HFill {
    margin-left: 30px;
    width: 0%;
    height: 0%;
    display: inline-block;
}
.br {
    flex-basis:100%;
    height:0;
}
math {
    width:max-content;
    height:max-content;
    /*font-size:85%;*/
}
.displaymath {
    align-self: center;
}
.displaymathcontainer {
    text-align:center;
    display:flex;
    justify-content:center;
    align-self:center;
}

.font-normal {
    font-family: STIXgeneral, Times, Symbol, cmr10, CMSY10, CMEX10, serif;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
}