/*.sidenote {
    font-size: 80%;
    position: relative;

    float: right;
    clear: right;
    margin-right: -20vw;
    text-align: left;
    width: 20vw;
}
.sidenote-container {
    display: inline;
    width:0;
    height:0;
}
.sidenote-container-b {
    display: block;
    min-width: 614.295px;
    position:absolute;
    left:0;
}*/

.sidenote-container {
    position: absolute;
    font-size: 80%;
    right:0;
    top:0;
}