<!DOCTYPE html>
<html ng-app="buildQueueApp">
<meta charset="UTF-8">
<head>
    <script src="script/angularjs/angular-1.3.14/angular.min.js"></script>
    <script src="script/buildqueue/buildqueue.js"></script>
</head>
<body>
<h3 style="display:inline">BuildQueue viewer</h3>

<div ng-controller="QueueViewer">
    <p>refresh rate:
    <input type="number" min="0" max="10000" ng-click="stopRepeat(); repeat()" ng-model="refreshRate"/>
        queue length {{queue.length}}</p>
    queue<ul>
    <li ng-repeat="e in queue.queue">{{e}}</li>
    </ul>
    blocked<ul>
    <li ng-repeat="e in queue.blocked">{{e}}</li>
    </ul>
    finished<ul>
    <li ng-repeat="e in queue.finished">
        {{e.dependency}} {{e.result.success ? "success" : "failure"}}
        <span ng-show="e.result.needed.length > 0">missing</span>
        <ul>
            <li ng-repeat="n in e.result.needed">
            {{n}}
        </ul>
        <span ng-show="e.result.used.length > 0">used</span>
        <ul>
            <li ng-repeat="n in e.result.used">
            {{n}}
        </ul>
        <span ng-show="e.result.provided.length > 0">provided</span>
        <ul>
            <li ng-repeat="n in e.result.provided">
            {{n}}
        </ul>
    </li>
    </ul>
</div>
</body>
</html>
