<!DOCTYPE html>
<html ng-app="searchApp">
<meta charset="UTF-8">
<head>
    <script src="script/angularjs/angular-1.3.14/angular.js"></script>
    <script src="script/angularjs/angular-1.3.14/angular-sanitize.js"></script>
    <script type="text/javascript" src="/script/jquery/jquery.js"></script>
    <script src="script/mmt/mmt-js-api.js"></script>
    <script src="script/errorview/errorview.js"></script>
    <link rel="stylesheet" href="css/errorview.css"/>
</head>
<body>
<h3 style="display:inline">Error viewer</h3>

<div ng-controller="SearchController">
    <p/>
    group errors by
    <select ng-click="group()" ng-model="field" ng-init="columns[shortMsg].long"
            ng-options="columns[key].long for key in colProps "></select>
    as overview with maximal rows:
    <input type="number" min="0" max="10000" ng-click="group()"
           ng-model="maxGroups"/>
    <table title="grouped entries">
        <thead>
        <tr>
            <th>#</th>
            <th>{{columns[field].long}} ({{groups.length}} rows)</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="g in groups">
            <td>{{g.count}}</td>
            <td>
                <a href=""
                   ng-click="columns[field].search = g.content; search()"
                   title="select corresponding entries">&#8631;</a>
                <a href=""
                   ng-click="columns[field].search = g.content; hide()"
                   title="hide corresponding entries">&#8630;</a>
                {{g.content}}
            </td>
        </tr>
        </tbody>
    </table>

    <p/>
    display:
    <span ng-repeat="key in colProps">
        <input type="checkbox" ng-model="columns[key].x"/>
        {{columns[key].long}}&nbsp;&nbsp;
    </span>

    <table ng-show="hiddenData.length > 0" title="hidden entries">
        <thead>
        <tr>
            <th ng-repeat="key in colProps" ng-if="columns[key].x">
                {{columns[key].long}}
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="res in hiddenData">
            <td ng-repeat="key in colProps" ng-if="columns[key].x">
                {{res[key]}}
            </td>
        </tr>
        </tbody>
    </table>

    <p/>
    <button ng-click="clearhidden()">clear hidden filters</button>
    <button ng-click="clear()">clear search fields</button>
    maximal entries:
    <input type="number" min="0" max="10000" ng-model="maxNumber"/>
    <span>
        <span ng-show="number > results.length">{{number}} entries (showing {{results.length}})</span>
        <span ng-show="number <= results.length">result: {{results.length}}</span>
    </span>

    <p>restrict the number of displayed entries to support fast searches in
        every column. Click <a href="" ng-click="search()"
                               title="search for selection">&#8631;</a>
        to reload choice (revealing undisplayed
        or rebuilt results).</p>

    <div>{{buildCount}} pending builds
        <a href="" ng-click="showBuildResult = !showBuildResult">
            <span ng-show="showBuildResult"
                  title="hide build results">&mdash;</span>
            <span ng-show="!showBuildResult" title="show build results">+</span>
        </a>
        <span ng-show="showBuildResult"><p ng-bind-html="htmlText"/></span>
    </div>
    <table>
        <thead>
        <tr>
            <th>
                <a href="" ng-click="search()"
                   title="search for selection">&#8631;</a>
                <a href="" ng-click="hide()"
                   title="hide selection">&#8630;</a>
            </th>
            <th ng-repeat="key in colProps" ng-if="columns[key].x">
                <span style="cursor:pointer"
                      ng-click="sort.col = key; sort.asc = !sort.asc">
                    <span ng-show="sort.col == key">
                        <span ng-show="sort.asc">&#9650;</span>
                        <span ng-show="!sort.asc">&#9660;</span>
                    </span>
                    {{columns[key].long}}
                </span>
                <br/>
                <a href="" ng-click="columns[key].search = ''"
                   title="clear text">&#10226;</a>
                <input type="text" ng-model="columns[key].search" size="5"/>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="res in results | filter : matchFilters() | orderBy : sort.col : sort.asc">
            <td><a href="" ng-click="build(res)" title="rebuild file">
                &#10227;</a>
                <a href="" ng-click="clean(res)" title="clean file">
                &#10005;</a>
            </td>
            <td ng-repeat="key in colProps" ng-if="columns[key].x">
                <span ng-show="key != 'fileLink'">{{res[key]}}</span>
                <span ng-show="key == 'fileLink'">
                    <a href="" ng-click="serve(res[key])">{{res[key]}}</a>
                </span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
