<!DOCTYPE html>
<html ng-app="searchApp">
<meta charset="UTF-8">
<head>
    <script src="script/angularjs/angular-1.3.14/angular.js"></script>
    <script src="script/angularjs/angular-1.3.14/angular-sanitize.js"></script>
    <script type="text/javascript" src="script/jquery/jquery.js"></script>
    <script src="script/mmt/mmt-js-api.js"></script>
    <script src="script/errorview/errorview.js"></script>
    <link rel="stylesheet" href="css/errorview.css"/>
    <title>MMT Error Viewer</title>
</head>
<body>
<div ng-controller="SearchController">
    <p><b>MMT Error Viewer</b> on <a ng-href="{{host}}" target="_blank">{{host}}</a> loaded at {{date}}
        (<a href="https://github.com/KWARC/MMT/issues/new" target="_blank">report issues here</a>)
        (<a href="https://github.com/KWARC/MMT/wiki/Error-Viewer-Help" target="_blank">get help</a>)
    </p>
    <span ng-show="host.indexOf('mathhub.info') > -1">
        <a href="https://mathhub.info/mh/administrate_mathhub" target="_blank">Mathhub Admin</a>
    </span>
    <p/>
    group errors by
    <select ng-click="group()" ng-model="field" ng-init="columns[shortMsg].long"
            ng-options="columns[key].long for key in colProps "></select>
    as overview with maximal rows:
    <input type="number" min="0" max="10000" ng-click="group()"
           ng-keypress="$event.which === 13 && group()"
           ng-model="maxGroups"/>
    <table title="grouped entries">
        <thead>
        <tr>
            <th>#</th>
            <th>{{columns[field].long}} ({{groups.length}} rows)</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="g in groups">
            <td>{{g.count}}</td>
            <td>
                <a href=""
                   ng-click="columns[field].search = g.content; search()"
                   title="select corresponding entries">&#8631;</a>
                <a href=""
                   ng-click="hide(g.content)"
                   title="hide corresponding entries">&#8630;</a>
                {{g.content}}
            </td>
        </tr>
        </tbody>
    </table>
    <p/>
    <table ng-show="hiddenData.length > 0" title="hidden entries">
        <thead>
        <tr>
            <th ng-repeat="key in colProps" ng-if="columns[key].x">
                {{columns[key].long}}
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="res in hiddenData">
            <td ng-repeat="key in colProps" ng-if="columns[key].x">
                {{res[key]}}
            </td>
        </tr>
        </tbody>
    </table>
    <p/>
    <button ng-click="clearlast()">remove last hidden entry</button>
    <button ng-click="clearhidden()">clear all hidden entries</button>
    <button ng-click="clear()">clear search fields below</button>
    maximal entries:
    <input type="number" min="0" max="10000" ng-model="maxNumber" ng-keypress="$event.which === 13 && search()"/>
    <span>
        <span ng-show="number > results.length">{{number}} entries (showing {{results.length}})</span>
        <span ng-show="number <= results.length">result: {{results.length}}</span>
    </span>
    <p>restrict the number of displayed entries to support fast searches in every column.</p>
    Click
    <button ng-click="search()" title="search for selection" style="color:green;"><b>RELOAD</b></button>
    (to reveal undisplayed or rebuilt results).
    <p/>
    <div>{{buildCount}} pending builds
        <a href="" ng-click="showBuildResult = !showBuildResult">
            <span ng-show="showBuildResult"
                  title="hide build results">&mdash;</span>
            <span ng-show="!showBuildResult" title="show build results">+</span>
        </a>
        &nbsp;<a href="buildqueue.html" target="_blank">Queue</a>
        <span ng-show="showBuildResult"><p ng-bind-html="htmlText"/></span>
    </div>
    <select ng-model="buildLevel">
        <option value="0">force build</option>
        <option value="1">build on info</option>
        <option value="2">build on warning</option>
        <option value="3">build on error</option>
        <option value="4">build on fatal error</option>
        <option value="5">build on change</option>
    </select>
    display:
    <span ng-repeat="key in colProps">
        <input type="checkbox" ng-model="columns[key].x"/>
        {{columns[key].long}}&nbsp;&nbsp;
    </span>
    <table>
        <thead>
        <tr>
            <th>
                <a href="" ng-click="buildAll(false)"
                   title="rebuild all selected entries">&#10227;</a>
                <a href="" ng-click="buildAll(true)"
                   title="clean all selected entries">&#10005;</a>
            </th>
            <th ng-repeat="key in colProps" ng-if="columns[key].x">
                <span style="cursor:pointer"
                      ng-click="sort.col = key; sort.asc = !sort.asc">
                    <span ng-show="sort.col == key">
                        <span ng-show="sort.asc">&#9650;</span>
                        <span ng-show="!sort.asc">&#9660;</span>
                    </span>
                    {{columns[key].long}}
                </span>
                <br/>
                <a href="" ng-click="columns[key].search = ''"
                   title="clear text">&#10226;</a>
                <input type="text" ng-model="columns[key].search" size="5" ng-keypress="$event.which === 13 && search()"/>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="res in results | filter : matchFilters() | orderBy : sort.col : sort.asc">
            <td><a href="" ng-click="build(res, false)" title="rebuild file">
                &#10227;</a>
                <a href="" ng-click="build(res, true)" title="clean file">
                &#10005;</a>
            </td>
            <td ng-repeat="key in colProps" ng-if="columns[key].x">
                <span ng-if="key == 'fileLink' && res.shortMsg != 'cleaned'">
                    <a href="" ng-click="serve(res[key])">{{res[key]}}</a>
                </span>
                <span ng-if="key == 'sourceRef' && res[key] != ''">
                    <a ng-href="{{res[key]}}" target="_blank">{{res[key]}}</a>
                </span>
                <span ng-if="!(key == 'fileLink' && res.shortMsg != 'cleaned' || key == 'sourceRef' && res[key] != '')">
                    {{res[key]}}
                </span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
